## Imports

In [1]:
#importing necessary libraries
from rajvi_mapbox_api import MapboxAPI
import requests
from urllib.request import urlopen
import json
from shapely.geometry import shape, Polygon
import numpy as np
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns
plt.style.use('default')
import geopandas as gpd
import geodatasets
import ast
from shapely import wkt
from pyproj import Geod

## Importing Coverage Function (allows me to pick any branch I want)

In [2]:
#reading in library branch and population demographics, both with geometry data
avgWalking = pd.read_csv('../data/dani data/allDemsWalkingTimes.csv')
censusTracts = pd.read_csv('../data/clean/population_demographics.csv')
censusDemographics = pd.read_csv('../data/dani data/census_demos.csv')
walkingNeighborhoods = pd.read_csv('../library neighborhoods/avgTravelTime/completedWalkingNeighborhoodRadiiDF.csv')
regAvg = pd.read_csv('../library neighborhoods/avgTravelTime/averageWalkingTimeNeighborhoods.csv')

In [3]:
avgWalking['WT: All'] = regAvg['Average Walking Time (Minutes)']

In [4]:
avgWalking['geometry'] = walkingNeighborhoods['geometry']

In [5]:
avgWalking = gpd.GeoDataFrame(
    avgWalking.loc[:, [c for c in avgWalking.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(avgWalking["geometry"]),
    crs="epsg:4326",
    )

In [6]:
#removing unecessary columns from branchInfo
#removing unecessary columns from censusTracts
censusTracts = censusTracts[['geoid','geometry','qualifying name']]
#converting censusTracts to a geodataframe (we could not load it as one since it already had a geometry column so we are simply
#converting the geometry column to a proper gpd geometry column).
censusTracts = gpd.GeoDataFrame(
    censusTracts.loc[:, [c for c in censusTracts.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(censusTracts["geometry"]),
    crs="epsg:4326",
    )

In [5]:
branchInfo1 = gpd.GeoDataFrame(
    branchInfo1.loc[:, [c for c in branchInfo1.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo1["geometry"]),
    crs="epsg:4326",
    )

branchInfo3 = branchInfo3.drop(columns = ['Unnamed: 0'])
branchInfo3 = gpd.GeoDataFrame(
    branchInfo3.loc[:, [c for c in branchInfo3.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo3["geometry"]),
    crs="epsg:4326",
    )

branchInfo5 = branchInfo5.drop(columns = ['Unnamed: 0'])
branchInfo5 = gpd.GeoDataFrame(
    branchInfo5.loc[:, [c for c in branchInfo5.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo5["geometry"]),
    crs="epsg:4326",
    )
    
branchInfo7 = branchInfo7.drop(columns = ['Unnamed: 0'])
branchInfo7 = gpd.GeoDataFrame(
    branchInfo7.loc[:, [c for c in branchInfo7.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo7["geometry"]),
    crs="epsg:4326",
    )

branchInfo9 = branchInfo9.drop(columns = ['Unnamed: 0'])
branchInfo9 = gpd.GeoDataFrame(
    branchInfo9.loc[:, [c for c in branchInfo9.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo9["geometry"]),
    crs="epsg:4326",
    )

branchInfo11 = branchInfo11.drop(columns = ['Unnamed: 0'])
branchInfo11 = gpd.GeoDataFrame(
    branchInfo11.loc[:, [c for c in branchInfo11.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo11["geometry"]),
    crs="epsg:4326",
    )

branchInfo13 = branchInfo13.drop(columns = ['Unnamed: 0'])
branchInfo13 = gpd.GeoDataFrame(
    branchInfo13.loc[:, [c for c in branchInfo13.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo13["geometry"]),
    crs="epsg:4326",
    )

branchInfo15 = branchInfo15.drop(columns = ['Unnamed: 0'])
branchInfo15 = gpd.GeoDataFrame(
    branchInfo15.loc[:, [c for c in branchInfo15.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo15["geometry"]),
    crs="epsg:4326",
    )

branchInfo17 = branchInfo17.drop(columns = ['Unnamed: 0'])
branchInfo17 = gpd.GeoDataFrame(
    branchInfo17.loc[:, [c for c in branchInfo17.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo17["geometry"]),
    crs="epsg:4326",
    )

branchInfo19 = branchInfo19.drop(columns = ['Unnamed: 0'])
branchInfo19 = gpd.GeoDataFrame(
    branchInfo19.loc[:, [c for c in branchInfo19.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo19["geometry"]),
    crs="epsg:4326",
    )

branchInfo21 = branchInfo21.drop(columns = ['Unnamed: 0'])
branchInfo21 = gpd.GeoDataFrame(
    branchInfo21.loc[:, [c for c in branchInfo21.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo21["geometry"]),
    crs="epsg:4326",
    )

branchInfo23 = branchInfo23.drop(columns = ['Unnamed: 0'])
branchInfo23 = gpd.GeoDataFrame(
    branchInfo23.loc[:, [c for c in branchInfo23.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo23["geometry"]),
    crs="epsg:4326",
    )

branchInfo25 = branchInfo25.drop(columns = ['Unnamed: 0'])
branchInfo25 = gpd.GeoDataFrame(
    branchInfo25.loc[:, [c for c in branchInfo25.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo25["geometry"]),
    crs="epsg:4326",
    )

branchInfo27 = branchInfo27.drop(columns = ['Unnamed: 0'])
branchInfo27 = gpd.GeoDataFrame(
    branchInfo27.loc[:, [c for c in branchInfo27.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo27["geometry"]),
    crs="epsg:4326",
    )

branchInfo30 = branchInfo30.drop(columns = ['Unnamed: 0'])
branchInfo30 = gpd.GeoDataFrame(
    branchInfo30.loc[:, [c for c in branchInfo30.columns if c != "geometry"]],
    geometry=gpd.GeoSeries.from_wkt(branchInfo30["geometry"]),
    crs="epsg:4326",
    )

In [7]:

#helper method to ensure that two polygons overlap before getting the intersection. Gets the intersection then calculates
#the percent of overlapping area for a census tract and saves it to a dictionary with the census tract geo-id as the key and
#the percent as the value.
def check(polygon1, df, geoname, dictionary,key):
   
    for i in range(len(df)):
        if polygon1.intersects(df.loc[i,geoname]): 
            overlapPolygon = (polygon1.intersection(df.loc[i,geoname]))
            poly_area, poly_perimeter = geod.geometry_area_perimeter(overlapPolygon)
            overlapArea = poly_area*-1
            propOverlap = overlapArea / df.loc[i,'Area']
            #print(propOverlap)
            dictionary[df.loc[i, key]] = propOverlap
    return dictionary

In [8]:
#sets the crs of gpd types
def geoSetup(gdf):
    
    gdf = gdf.set_crs('EPSG:4326')

In [9]:
#cdf = gdf of geometry area which you want to get the coverage score
#idf = gdf of points for which you want to get an isochrone and dictionary of percent of overlap in cdf areas
#scoreString = a string that is the name of the coverage score column you choose
#dictString = a string that is the name of the dictionary column you choose
#cgs = a string that is the name of the geometry column in the cdf
#igs = a string that is the name of the geometry column in the idf
#lat = a string that is the name of the latitude column in the idf
#lon = a string that is the name of the longitude column in the idf
#key = a string that is the name of the column in the cdf that you want to represent the key of the dictionary

def appendADS(cdf,idf,scoreString,dictString,cgs,igs,key):
    
    #api = MapboxAPI()
    cdf[scoreString] = 0.0
    idf[dictString] = ''
    censusAreas = []
    global geod 
    geod = Geod(ellps='WGS84')
   
    geoSetup(cdf)
    geoSetup(idf)
   
    for index, row in cdf.iterrows():
        poly_area, poly_perimeter = geod.geometry_area_perimeter(row[cgs])
        poly_area = poly_area*-1
        censusAreas.append(poly_area)
    
    cdf['Area'] = censusAreas



    for i in range(len(idf)):
        dictionary = {}
        dictionary = check(idf.loc[i,igs],cdf,cgs, dictionary,key)
        idf.loc[i,dictString]= [dictionary]
    
        for i in range(len(cdf)):
   
            if dictionary.get(cdf.loc[i, key]) != None:
                score = cdf.loc[i, scoreString]
                cdf.loc[i, scoreString] = score + dictionary.get(cdf.loc[i, key])

In [10]:
appendADS(censusTracts,avgWalking, 'score', 'list of dict','geometry','geometry','geoid')

In [11]:
avgWalking.head(3)

,Unnamed: 0,Branch,WT: All,WT: White,WT: Black or African American,WT: Degree: Less than High School,WT: Degree: High School or More,WT: Degree: Some College or More,WT: Degree: Bachelors or More,WT: Degree: Masters or More,...,"WT: Income: $150,000 to $199,999",WT: Unemployed,WT: Employed,WT: Has No Internet Access,WT: Has Internet Access,WT: Has No Computer,WT: Has Computer,"WT: Transportation: Car, Truck, or Van",geometry,list of dict
0,0,Albany Park,13.228101,13.512148,12.330002,12.862312,13.529191,13.647221,13.703532,13.816577,...,13.439790,13.124752,13.135965,14.404086,13.375155,15.335742,13.376898,13.394253,"MULTIPOLYGON (((-87.72184 41.99035, -87.72261 ...","[{17031140800: 0.2941041853327841, 17031040700..."
1,1,Altgeld,18.833803,21.039918,18.642701,19.401588,19.277933,19.573096,20.775590,20.044176,...,20.698632,18.287842,19.413077,19.062588,19.045765,19.044391,19.048462,19.727854,"POLYGON ((-87.59456 41.66420, -87.59460 41.664...","[{17031540101: 0.4678719489111059, 17031550200..."
2,2,Archer Heights,15.424347,15.113948,20.253843,15.589829,15.535584,15.971134,16.559018,17.162441,...,14.469812,15.025948,15.574835,15.187294,15.554998,15.101321,15.562627,15.799053,"MULTIPOLYGON (((-87.71500 41.80877, -87.71492 ...","[{17031980100: 0.05763757660788527, 1703156070..."

In [12]:
avgWalking.columns

Index(['Unnamed: 0', 'Branch', 'WT: All', 'WT: White',
       'WT: Black or African American', 'WT: Degree: Less than High School',
       'WT: Degree: High School or More', 'WT: Degree: Some College or More',
       'WT: Degree: Bachelors or More', 'WT: Degree: Masters or More',
       'WT: In Poverty', 'WT: At or Above Poverty',
       'WT: Income: $10,000 to $14,999', 'WT: Income: $150,000 to $199,999',
       'WT: Unemployed', 'WT: Employed', 'WT: Has No Internet Access',
       'WT: Has Internet Access', 'WT: Has No Computer', 'WT: Has Computer',
       'WT: Transportation: Car, Truck, or Van', 'geometry', 'list of dict'],
      dtype='object')

## Average Travel Time Function

In [90]:

#Internet
def min5Radius(DemographicsVariables, branchWithCensus):
    pop_in_branch = (branchWithCensus['Percent Overlap']  * branchWithCensus['total population']).sum()
    #Branch_pop_withInternet = (branchWithCensus['Percent Overlap'] * branchWithCensus[DemographicsVariables] * branchWithCensus['Total']).sum() 
    #result = Branch_pop_withInternet/pop_in_branch
    return pop_in_branch   

#Income

In [91]:
def branch_demographics(branchWithCensus, nameOfBranch):
    branch_snapshot_df = pd.DataFrame({'Branch': [nameOfBranch]})
    list1 = ['5 Min']
    for i in list1:
        branch_snapshot_df[i] = min5Radius(i, branchWithCensus)
    
    return branch_snapshot_df

In [150]:
def incrementPopulations(branchDataset, givenDemographic, populationColumn):
    popPerLib = pd.DataFrame(columns=['Branch', 'Neighborhood Pop'])
    
    censusPops = censusDemographics[['geoid', populationColumn, givenDemographic]].copy(deep=True)
    censusPops['Demographic of Choice'] = censusPops[populationColumn]*censusPops[givenDemographic] # comment out multiply for all ppl
    censusPops = censusPops.drop(columns = [populationColumn, givenDemographic])
    
    for i in range(len(branchDataset)):
        
        #Locating only Altgeld's column 'list of dict'
        libraryDictList = branchDataset.loc[i,'list of dict']
        branchName = branchDataset.loc[i,'Branch']
        
        #Removed set of brackets, just a dictionary now
        finalDictionary = libraryDictList[0]

        #Seperating into two columns
        dictToList = pd.DataFrame(finalDictionary.items(), columns= ['geoid','Percent Overlap'])
        libraryAndCensus = censusPops.merge(dictToList, on='geoid')

        libraryAndCensus['counts'] = 0
        for j in range(len(libraryAndCensus)):
            libraryAndCensus.loc[j,'counts'] = libraryAndCensus.loc[j,'Demographic of Choice'] * libraryAndCensus.loc[j,'Percent Overlap']
        
        libPop = pd.DataFrame({'BRANCH': [branchName],'Neighborhood Pop': libraryAndCensus['counts'].sum()})
        popPerLib = pd.concat([popPerLib, libPop])
        
    popPerLib = popPerLib.drop(columns = ['Branch'])
    popPerLib = popPerLib.reset_index()
    popPerLib = popPerLib.drop(columns = ['index'])
    
    return popPerLib

In [120]:
whitePop = incrementPopulations(avgWalking, 'Percent: White Alone', 'total population')
blackPop = incrementPopulations(avgWalking, 'Percent: Black or African American Alone', 'total population')
lessHS = incrementPopulations(avgWalking, 'Percent: 25+ Less Than High School', 'population 25 years and over')
moreHS = incrementPopulations(avgWalking, 'Percent: 25+ High School or More', 'population 25 years and over')
moreSomeCollege = incrementPopulations(avgWalking, 'Percent: 25+ Some College or More', 'population 25 years and over')
moreCollege = incrementPopulations(avgWalking, "Percent: 25+ Bachelor's Degree or More", 'population 25 years and over')
moreMasters = incrementPopulations(avgWalking, "Percent: 25+ Master's Degree or More", 'population 25 years and over')
abovePoverty = incrementPopulations(avgWalking, "Percent Ages 18-64: At or Above Poverty Level", 'population age 18 to 64 for whom poverty status  is determined')
belowPoverty = incrementPopulations(avgWalking, "Percent Ages 18-64: Living in Poverty", 'population age 18 to 64 for whom poverty status  is determined')
income10to15 = incrementPopulations(avgWalking, "Percent Households: $10,000 to $14,999", 'total households reporting income')
income150to200 = incrementPopulations(avgWalking, "Percent Households: $150,000 to $199,999", 'total households reporting income')
employed = incrementPopulations(avgWalking, "Percent Population in Labor Force 16+: Employed", 'civilian population in labor force 16 years and over')
unemployed = incrementPopulations(avgWalking, "Percent Population in Labor Force 16+: Unemployed", 'civilian population in labor force 16 years and over')
hasInternet = incrementPopulations(avgWalking, "Percent of People with Internet Access", 'Total')
noInternet = incrementPopulations(avgWalking, "Percent of People without Internet Access", 'Total')
hasComputer = incrementPopulations(avgWalking, "Percent of People with Computers", 'Total')
noComputer = incrementPopulations(avgWalking, "Percent of People without Computers", 'Total')
vehicle = incrementPopulations(avgWalking, "Percent Workers 16+: Car, Truck, or Van ", 'workers 16 years and over')

In [151]:
allPop = incrementPopulations(avgWalking,'Percent: White Alone', 'total population')

In [152]:
allPop

    Neighborhood Pop                    BRANCH
0       36313.147274               Albany Park
1        4228.560584                   Altgeld
2       31323.600572            Archer Heights
3       42499.265263                    Austin
4       32702.075672             Austin-Irving
..               ...                       ...
76      39569.902094              West Pullman
77      37269.324825                 West Town
78      33865.491678     Whitney M. Young, Jr.
79      27741.444162  Woodson Regional Library
80      20014.387485        Wrightwood-Ashburn

[81 rows x 2 columns]

In [121]:
whitePop

    Neighborhood Pop                    BRANCH
0       17989.264156               Albany Park
1         176.038612                   Altgeld
2       16657.786535            Archer Heights
3        8085.222729                    Austin
4       21976.409585             Austin-Irving
..               ...                       ...
76       3159.248725              West Pullman
77      27661.380686                 West Town
78        274.433955     Whitney M. Young, Jr.
79        558.928421  Woodson Regional Library
80       4272.816096        Wrightwood-Ashburn

[81 rows x 2 columns]

In [124]:
def weightedAvg(demographicPop, walkingColumn):
    demographicPop = demographicPop.set_index('BRANCH')
    totalDem = demographicPop.sum(axis=0)
    weightedTotal = 0
    demographicPop = demographicPop.reset_index()
    for i in range(len(demographicPop)):
        oneLib = demographicPop.loc[i,'Neighborhood Pop']
        demographicPop.loc[i,'Neighborhood Pop'] = avgWalking.loc[i,walkingColumn]*oneLib
        weightedTotal = weightedTotal + demographicPop.loc[i,'Neighborhood Pop']
    weightedTravel = weightedTotal/totalDem
    return weightedTravel

In [141]:
averageWalkingAllLib = pd.DataFrame(columns = ['WT: All','WT: White', 'WT: Black or African American',
       'WT: Degree: Less than High School',
       'WT: Degree: High School or More', 'WT: Degree: Some College or More',
       'WT: Degree: Bachelors or More', 'WT: Degree: Masters or More',
       'WT: In Poverty', 'WT: At or Above Poverty',
       'WT: Income: $10,000 to $14,999',
       'WT: Income: $150,000 to $199,999', 
       'WT: Unemployed', 'WT: Employed',
       'WT: Has No Internet Access', 'WT: Has Internet Access',
       'WT: Has No Computer', 'WT: Has Computer',
       'WT: Transportation: Car, Truck, or Van'])

In [142]:
averageWalkingAllLib

Empty DataFrame
Columns: [WT: All, WT: White, WT: Black or African American, WT: Degree: Less than High School, WT: Degree: High School or More, WT: Degree: Some College or More, WT: Degree: Bachelors or More, WT: Degree: Masters or More, WT: In Poverty, WT: At or Above Poverty, WT: Income: $10,000 to $14,999, WT: Income: $150,000 to $199,999, WT: Unemployed, WT: Employed, WT: Has No Internet Access, WT: Has Internet Access, WT: Has No Computer, WT: Has Computer, WT: Transportation: Car, Truck, or Van]
Index: []

In [143]:
print(weightedAvg(whitePop,'WT: White'))

Neighborhood Pop    14.231064
dtype: float64

In [144]:
averageWalkingAllLib['WT: White'] = weightedAvg(whitePop, "WT: White")
averageWalkingAllLib['WT: Black or African American'] = weightedAvg(blackPop, "WT: Black or African American")
averageWalkingAllLib['WT: Degree: Less than High School'] = weightedAvg(lessHS, 'WT: Degree: Less than High School')
averageWalkingAllLib['WT: Degree: High School or More'] = weightedAvg(moreHS, 'WT: Degree: High School or More')
averageWalkingAllLib['WT: Degree: Some College or More'] = weightedAvg(moreSomeCollege, 'WT: Degree: Some College or More')
averageWalkingAllLib['WT: Degree: Bachelors or More'] = weightedAvg(moreCollege, 'WT: Degree: Bachelors or More')
averageWalkingAllLib['WT: Degree: Masters or More'] = weightedAvg(moreMasters, 'WT: Degree: Masters or More')
averageWalkingAllLib['WT: In Poverty'] = weightedAvg(belowPoverty, 'WT: In Poverty')
averageWalkingAllLib['WT: At or Above Poverty'] = weightedAvg(abovePoverty, 'WT: At or Above Poverty')
averageWalkingAllLib['WT: Income: $10,000 to $14,999'] = weightedAvg(income10to15, 'WT: Income: $10,000 to $14,999')
averageWalkingAllLib['WT: Income: $150,000 to $199,999'] = weightedAvg(income150to200, 'WT: Income: $150,000 to $199,999')
averageWalkingAllLib['WT: Unemployed'] = weightedAvg(unemployed, 'WT: Unemployed')
averageWalkingAllLib['WT: Employed'] = weightedAvg(employed, 'WT: Employed')
averageWalkingAllLib['WT: Has No Internet Access'] = weightedAvg(noInternet, 'WT: Has No Internet Access')
averageWalkingAllLib['WT: Has Internet Access'] = weightedAvg(hasInternet, 'WT: Has Internet Access')
averageWalkingAllLib['WT: Has No Computer'] = weightedAvg(noComputer, 'WT: Has No Computer')
averageWalkingAllLib['WT: Has Computer'] = weightedAvg(hasComputer, 'WT: Has Computer')
averageWalkingAllLib['WT: Transportation: Car, Truck, or Van'] = weightedAvg(vehicle, 'WT: Transportation: Car, Truck, or Van')

In [153]:
averageWalkingAllLib['WT: All'] = weightedAvg(allPop, "WT: All")

In [155]:
averageWalkingAllLib = averageWalkingAllLib.rename(index={'Neighborhood Pop': "Average Walking Time Across All Libraries"})

In [156]:
averageWalkingAllLib

,WT: All,WT: White,WT: Black or African American,WT: Degree: Less than High School,WT: Degree: High School or More,WT: Degree: Some College or More,WT: Degree: Bachelors or More,WT: Degree: Masters or More,WT: In Poverty,WT: At or Above Poverty,"WT: Income: $10,000 to $14,999","WT: Income: $150,000 to $199,999",WT: Unemployed,WT: Employed,WT: Has No Internet Access,WT: Has Internet Access,WT: Has No Computer,WT: Has Computer,"WT: Transportation: Car, Truck, or Van"
Average Walking Time Across All Libraries,14.40743,14.231064,14.887683,14.539144,14.340321,14.20554,13.882351,13.90945,14.075909,14.308209,13.97514,13.972257,14.429838,14.198648,14.339808,14.208164,14.315615,14.318637,14.728355

In [159]:
averageWalkingAllLib.to_csv('../data/dani data/avgOverAllLibAllDemWalking.csv')

In [18]:
allRadiiPops = allRadiiPops.fillna(0)
allRadiiPops = allRadiiPops.set_index('Branch')
allRadiiPops['Total Pop Around Library'] = allRadiiPops.sum(axis=1)
allRadiiPops.reset_index(inplace = True)

In [20]:
for i in range(len(allRadiiPops)):
    allRadiiPops.loc[i,'Weighted Average Travel Time'] = (((allRadiiPops.loc[i,'Prop 0 to 5 Min'])*5)+
                                                        ((allRadiiPops.loc[i,'Prop 5 to 7 Min'])*6) +
                                                        ((allRadiiPops.loc[i,'Prop 7 to 9 Min'])*8) +
                                                        ((allRadiiPops.loc[i,'Prop 9 to 11 Min'])*10) +
                                                        ((allRadiiPops.loc[i,'Prop 11 to 13 Min'])*12) +
                                                        ((allRadiiPops.loc[i,'Prop 13 to 15 Min'])*14) +
                                                        ((allRadiiPops.loc[i,'Prop 15 to 17 Min'])*16) +
                                                        ((allRadiiPops.loc[i,'Prop 17 to 19 Min'])*18) +
                                                        ((allRadiiPops.loc[i,'Prop 19 to 21 Min'])*20) +
                                                        ((allRadiiPops.loc[i,'Prop 21 to 23 Min'])*22) +
                                                        ((allRadiiPops.loc[i,'Prop 23 to 25 Min'])*24) +
                                                        ((allRadiiPops.loc[i,'Prop 25 to 27 Min'])*26) +
                                                         (allRadiiPops.loc[i,'Prop 27 to 30 Min'])*28.5)

In [21]:
averageWalkingTimeNeighborhoods = pd.DataFrame(columns=['Branch', 'Average Walking Time (Minutes)'])
averageWalkingTimeNeighborhoods['Branch'] = allRadiiPops['Branch']
averageWalkingTimeNeighborhoods['Average Cycling Time (Minutes)'] = allRadiiPops['Weighted Average Travel Time']

In [22]:
averageWalkingTimeNeighborhoods

                      Branch  Average Cycling Time (Minutes)
0                Albany Park                        4.417021
1                    Altgeld                       14.455859
2             Archer Heights                        5.275270
3                     Austin                        8.553280
4              Austin-Irving                        4.076547
..                       ...                             ...
76              West Pullman                        6.981667
77                 West Town                        4.175142
78     Whitney M. Young, Jr.                        5.425807
79  Woodson Regional Library                        5.499174
80        Wrightwood-Ashburn                        6.926017

[81 rows x 2 columns]

In [148]:
averageWalkingTimeNeighborhoods.to_csv('../library neighborhoods/avgTravelTime/employedHighSchoolCyclingTimeNeighborhoods.csv')