In [66]:
#temporary seperate import until plotly install issue is addressed.
import pandas as pd
import numpy as np

In [23]:
#importing dependencies for workbook
import pandas as pd
import plotly.express as px

In [24]:
#importing csv files for computing branch metrics and branch locations
branchMetrics = pd.read_csv('../data/clean/branch_metrics.csv')
branchLocations = pd.read_csv('../data/clean/branches.csv')

#checking branchMetrics
#branchMetrics.head()

In [25]:
#checking branchLocations
#branchLocations.head()

In [26]:
#Removing rows with no data
#checking shape before dropping na values
#print(branchMetrics.shape)
#branchMetrics = branchMetrics.dropna(subset = ['COMPUTER_SESSIONS', 'VISITORS'])
#checking data after dropping na values for computer and visitors column. 
#branchMetrics

In [27]:
#Removing rows with 0 in the COMPUTER_SESSIOONS and VISITORS column
branchMetrics = branchMetrics[(branchMetrics['VISITORS'] > 0) & (branchMetrics['COMPUTER_SESSIONS'] > 0)]
#branchMetrics

In [28]:
branchMetrics.BRANCH.unique().size

81

In [115]:
#getting sums of Circulation, Computer_Sessions, and Visitors in each branch by year
metricsByYear = branchMetrics.groupby(['YEAR','BRANCH']).sum()
#metricsByYear

In [30]:
#Resetting the index for metricsByYear and mergind with location data
metricsByYear.reset_index(inplace = True)
#metricsByYear

In [31]:
metricsByYear.BRANCH.unique().size

81

In [32]:
metricsByYear = metricsByYear.merge(branchLocations)
#metricsByYear

In [33]:
metricsByYear.BRANCH.unique().size

80

In [34]:
#The groupby year and branch data seems to leave out one branch, so we are determining which is left out. I found that Woodson Regional
#was left out because it is called Woodson Regional Library in the branch_metrics.csv and therefore it was lost during the merge.metricsByYear.BRANCH.unique().size
list(set(branchMetrics.BRANCH.unique()) - set(metricsByYear.BRANCH.unique()))

['Woodson Regional']

In [35]:
#Checking branch names before replacing
branchMetrics.BRANCH.unique()

array(['Albany Park', 'Altgeld', 'Archer Heights', 'Austin',
       'Austin-Irving', 'Avalon', 'Back of the Yards', 'Beverly',
       'Bezazian', 'Blackstone', 'Brainerd', 'Brighton Park',
       'Bucktown-Wicker Park', 'Budlong Woods', 'Canaryville',
       'Chicago Bee', 'Chicago Lawn', 'Chinatown', 'Clearing', 'Coleman',
       'Daley, Richard J. - Bridgeport',
       'Daley, Richard M. - W. Humboldt', 'Douglass', 'Dunning',
       'Edgebrook', 'Edgewater', 'Gage Park', 'Garfield Ridge',
       'Greater Grand Crossing', 'Hall',
       'Harold Washington Library Center', 'Hegewisch', 'Humboldt Park',
       'Independence', 'Jefferson Park', 'Jeffery Manor', 'Kelly', 'King',
       'Legler Regional', 'Lincoln Belmont', 'Lincoln Park',
       'Little Italy', 'Little Village', 'Logan Square', 'Lozano',
       'Manning', 'Mayfair', 'McKinley Park', 'Merlo', 'Mount Greenwood',
       'Near North', 'North Austin', 'North Pulaski', 'Northtown',
       'Oriole Park', 'Portage-Cragin', 'Pullman', 'Roden', 'Rogers Park',
       'Roosevelt', 'Scottsdale', 'Sherman Park', 'South Chicago',
       'South Shore', 'Sulzer Regional', 'Thurgood Marshall', 'Toman',
       'Uptown', 'Vodak-East Side', 'Walker', 'Water Works',
       'West Belmont', 'West Chicago Avenue', 'West Englewood',
       'West Lawn', 'West Loop', 'West Pullman', 'West Town',
       'Whitney M. Young, Jr.', 'Woodson Regional', 'Wrightwood-Ashburn'],
      dtype=object)

In [36]:
#replacing the branch name
branchMetrics.loc[branchMetrics.BRANCH == 'Woodson Regional', 'BRANCH'] = 'Woodson Regional Library'
branchMetrics.BRANCH.unique()

array(['Albany Park', 'Altgeld', 'Archer Heights', 'Austin',
       'Austin-Irving', 'Avalon', 'Back of the Yards', 'Beverly',
       'Bezazian', 'Blackstone', 'Brainerd', 'Brighton Park',
       'Bucktown-Wicker Park', 'Budlong Woods', 'Canaryville',
       'Chicago Bee', 'Chicago Lawn', 'Chinatown', 'Clearing', 'Coleman',
       'Daley, Richard J. - Bridgeport',
       'Daley, Richard M. - W. Humboldt', 'Douglass', 'Dunning',
       'Edgebrook', 'Edgewater', 'Gage Park', 'Garfield Ridge',
       'Greater Grand Crossing', 'Hall',
       'Harold Washington Library Center', 'Hegewisch', 'Humboldt Park',
       'Independence', 'Jefferson Park', 'Jeffery Manor', 'Kelly', 'King',
       'Legler Regional', 'Lincoln Belmont', 'Lincoln Park',
       'Little Italy', 'Little Village', 'Logan Square', 'Lozano',
       'Manning', 'Mayfair', 'McKinley Park', 'Merlo', 'Mount Greenwood',
       'Near North', 'North Austin', 'North Pulaski', 'Northtown',
       'Oriole Park', 'Portage-Cragin', 'Pullman', 'Roden', 'Rogers Park',
       'Roosevelt', 'Scottsdale', 'Sherman Park', 'South Chicago',
       'South Shore', 'Sulzer Regional', 'Thurgood Marshall', 'Toman',
       'Uptown', 'Vodak-East Side', 'Walker', 'Water Works',
       'West Belmont', 'West Chicago Avenue', 'West Englewood',
       'West Lawn', 'West Loop', 'West Pullman', 'West Town',
       'Whitney M. Young, Jr.', 'Woodson Regional Library',
       'Wrightwood-Ashburn'], dtype=object)

In [37]:
#metricsByYear needs to be recreated so we can recover the data lost before the merge.
metricsByYear = branchMetrics.groupby(['YEAR','BRANCH']).sum()
metricsByYear.reset_index(inplace = True)
metricsByYear = metricsByYear.merge(branchLocations)
#Making sure there are 81 branches represented
#metricsByYear.BRANCH.unique().size

In [39]:
#Dropping unnecessary data
metricsByYear = metricsByYear[['YEAR', 'BRANCH', 'CIRCULATION', 'COMPUTER_SESSIONS', 'VISITORS', 'LOCATION']]
metricsByYear

,YEAR,BRANCH,CIRCULATION,COMPUTER_SESSIONS,VISITORS,LOCATION
0,2011,Albany Park,120059.0,21966.0,117425.0,"(41.97557881655979, -87.71361314512697)"
1,2012,Albany Park,83192.0,15423.0,78485.0,"(41.97557881655979, -87.71361314512697)"
2,2014,Albany Park,50260.0,9546.0,53058.0,"(41.97557881655979, -87.71361314512697)"
3,2015,Albany Park,133366.0,37114.0,153751.0,"(41.97557881655979, -87.71361314512697)"
4,2016,Albany Park,135858.0,37025.0,159397.0,"(41.97557881655979, -87.71361314512697)"
...,...,...,...,...,...,...
1007,2022,West Loop,52688.0,4784.0,51137.0,"(41.8837105009142, -87.6545650515331)"
1008,2023,West Loop,18737.0,1637.0,23173.0,"(41.8837105009142, -87.6545650515331)"
1009,2021,Water Works,8516.0,306.0,10594.0,"(41.897484072390675, -87.62337776811282)"
1010,2022,Water Works,35804.0,1864.0,47594.0,"(41.897484072390675, -87.62337776811282)"
1011,2023,Water Works,11988.0,648.0,15985.0,"(41.897484072390675, -87.62337776811282)"

In [38]:
#calculating percent change in circulation

In [42]:
#Replacing Location with longitude and latitude columns
import ast
metricsByYear[['LATITUDE', 'LONGITUDE']] = [ast.literal_eval(x)[:2] for x in metricsByYear['LOCATION']]
metricsByYear = metricsByYear.drop(columns='LOCATION')
metricsByYear

,YEAR,BRANCH,CIRCULATION,COMPUTER_SESSIONS,VISITORS,LATITUDE,LONGITUDE
0,2011,Albany Park,120059.0,21966.0,117425.0,41.975579,-87.713613
1,2012,Albany Park,83192.0,15423.0,78485.0,41.975579,-87.713613
2,2014,Albany Park,50260.0,9546.0,53058.0,41.975579,-87.713613
3,2015,Albany Park,133366.0,37114.0,153751.0,41.975579,-87.713613
4,2016,Albany Park,135858.0,37025.0,159397.0,41.975579,-87.713613
...,...,...,...,...,...,...,...
1007,2022,West Loop,52688.0,4784.0,51137.0,41.883711,-87.654565
1008,2023,West Loop,18737.0,1637.0,23173.0,41.883711,-87.654565
1009,2021,Water Works,8516.0,306.0,10594.0,41.897484,-87.623378
1010,2022,Water Works,35804.0,1864.0,47594.0,41.897484,-87.623378
1011,2023,Water Works,11988.0,648.0,15985.0,41.897484,-87.623378

In [20]:
#new_branch_calc = pd.read_csv('../data/clean/branch_metrics.csv')

#circ_19_22 = branch_metrics.loc[(branch_metrics['YEAR']==2019)|(branch_metrics['YEAR']==2022)]
#circ_19_22 = circ_19_22.groupby(['BRANCH', 'YEAR'])[['CIRCULATION']].mean().unstack()
#circ_19_22['PERCENT CHANGE'] = ((circ_19_22['CIRCULATION'][2022]-circ_19_22['CIRCULATION'][2019])/circ_19_22['CIRCULATION'][2019])*100
#circ_19_22.head(5)
#circ_percent_change_19_22 = circ_19_22[['PERCENT CHANGE']].reset_index()

In [116]:
#df is the dataframe you would use, latitude is the latitude metric, longitude is the longitude metric, branch is the library branch name column,
#timelapse is the duration over which you want to observe your data, maptitle is the title you want for your map.
def scatterMapBoxOverTime(df,latitude,longitude,branch,metric,timelapse,maptitle):
    fig = px.scatter_mapbox(df, lat=latitude, lon=longitude, color=branch,size=metric, 
                            color_continuous_scale=["black", "purple", "red" ],
                            animation_frame= timelapse, size_max=30, height = 600,
                            width = 1000, title= maptitle, mapbox_style="open-street-map")
    return fig


#figureExample = scatterMapBoxOverTime(metricsByYear,'LATITUDE','LONGITUDE','BRANCH','VISITORS','YEAR','This is an example')
#figureExample.show()

In [113]:
#df is the dataframe you would use, latitude is the latitude metric, longitude is the longitude metric, branch is the library branch name column,
#timelapse is the duration over which you want to observe your data, maptitle is the title you want for your map.
#calcChangeMetrics = pd.DataFrame()
calcChangeMetrics = metricsByYear[['YEAR', 'BRANCH', 'CIRCULATION', 'LATITUDE', 'LONGITUDE']]
calcChangeMetrics = calcChangeMetrics.loc[(calcChangeMetrics['YEAR']==2019)|(calcChangeMetrics['YEAR']==2022)]
calcChangeMetrics = calcChangeMetrics.groupby(['BRANCH', 'YEAR'])[['CIRCULATION','LATITUDE', 'LONGITUDE']].mean().unstack().reset_index()
calcChangeMetrics['PERCENT CHANGE'] = ((calcChangeMetrics['CIRCULATION'][2022]-calcChangeMetrics['CIRCULATION'][2019])/calcChangeMetrics['CIRCULATION'][2019])*100
#print(calcChangeMetrics)

pChangeMetrics = metricsByYear[['BRANCH', 'LATITUDE', 'LONGITUDE']]
pChangeMetrics = pChangeMetrics.groupby(['BRANCH'])[['LATITUDE','LONGITUDE']].mean().reset_index()
#pChangeMetrics = pChangeMetrics.reset_index(inplace=True)
pChangeMetrics['PERCENT CHANGE CIRCULATION'] = calcChangeMetrics['PERCENT CHANGE']
#print(pChangeMetrics)

#growth = pChangeMetrics.loc[pChangeMetrics['PERCENT CHANGE CIRCULATION'] > 0] # libraries that grew
pChangeMetrics = pChangeMetrics.loc[pChangeMetrics['PERCENT CHANGE CIRCULATION'] < 0]
pChangeMetrics['PERCENT CHANGE CIRCULATION'] = pChangeMetrics['PERCENT CHANGE CIRCULATION']*-1

def scatterMapBoxOverTime(df,latitude,longitude,branch,metric,maptitle):
    fig = px.scatter_mapbox(df, lat=latitude, lon=longitude, color=branch,size=metric, 
                            color_continuous_scale=["black", "purple", "red" ], size_max=20, height = 600,
                            width = 1000, title= maptitle, mapbox_style="open-street-map")
    return fig


#figureExample = scatterMapBoxOverTime(pChangeMetrics,'LATITUDE','LONGITUDE','BRANCH','PERCENT CHANGE CIRCULATION','This is an example')
#figureExample.show()